/* 基本設定 */
html, body {
  width: 100%;
  height: 100%;
}
body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #000;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}
ul, ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
#wrap {
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/* 01.header區 */
.header{
  padding: 20px;
  border-bottom: solid 2px #B3B4B5;
}
.header p{
  float: left;
  font-size: 18px;
  font-weight: 200;
  color: #000;
}
.header ul{
  float: right;
}
.header ul li{
  display: inline-block;
}
.header ul li a{
  color: #000;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 200;
}
/* 02.商城h1標題 */
.lar-title{
  text-align: center;
  margin: 20px 0px;
}
.lar-title h1{
  font-weight: 400;
  font-size: 50px;
}
/* 03.中間導覽列 */
.midmenu{
  margin: 0 10px;
  border-top: solid 5px #9E9B9C;
  border-bottom: solid 5px #9E9B9C;
  padding: 18px 0px;
}

.midmenu li{
  display: inline-block;
}
.midmenu ul li a{
  font-size: 18px;
  color: #000;
  padding: 22px 15px;
}
.midmenu .active a{
  background-color: #DB3257;
  color: #fff;
}
.midmenu .menu-right{
  float: right;
}
.midmenu .menu-right a{
  background-color: #DB3257;
  color: #F2EA0A;
}
.midmenu ul li a:hover{
  background-color: #DB3257;
  color: #fff;
}
/* 04.大圖 */
.midimg{
  margin: 22px 10px;
}
.midimg img{
  width: 100%;
  height: 100%;
}
.img-left{
  float: left;
  width: 800px;
  height: 500px;
}
.img-right1, .img-right2{
  float: right;
  width: 320px;
  height: 238px;
}
.img-right2{
  margin-top: 25px;
}
/* 05.廣告 */
.adv{
  margin: 0px 10px 10px 10px;
}
.adv ul li p{
  font-size: 34px;
  background-color: #B0B0AE;
  padding: 30px 112px;
  margin-right: 20px;
  color: #000;
}
.adv ul li{
  display: inline-block;
}
/* 06.下面導覽列 */
.botmenu{
  text-align: center;
  margin-top: 40px;
}
.botmenu ul li a{
  color: #000;
  font-size: 26px;
  font-weight: 600;
}
.botmenu ul li{
  display: inline-block;
  margin-right: 25px;
}
.botmenu ul .colorred a{
  color: red;
}
.botmenu ul li a:hover{
  color: red;
}
hr{
  margin: 10px;
  margin-bottom: 20px;
  border: 0;
  border: solid 2px #B3B4B5;
}
/* 07.產品一覽 */
.prolist{
  margin: 10px;
}
.prolist img{
  width: 100%;
  height: 100%;
  transition: all 0.6s;
}
.prolist img:hover{
  transform: scale(1.2,1.2);
  opacity: 0.5;
}
.item{
  margin-bottom: 20px;
}
.item li{
  width: 205px;
}
.prolist .item ul li h6,p{
  color: red;
  font-size: 16px;
}
.item .icons,s{
  color: #B3B4B5;
}
.item p,s{
  display: inline-block;
  margin-right: 20px;
}
.item li{
  display: inline-block;
  margin-right: 21px;
}
/* .prolist .item ul li a{
  overflow: hidden;
} */
/* 08.footer */
.footer{
  border-top: solid 4px #B3B4B5;
  margin-top: 150px;
}
.footer p{
  color: #000;
  padding: 25px 20px;
}